.faq_container {
  font-family: "DM Sans", sans-serif;
  margin-inline: 2rem;
  margin-bottom: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.faq_head {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}
.faq_head h1 {
  font-size: 47px;
  font-weight: bold;
}
.faq_hlt {
  font-family: "Playfair", serif;
  color: rgba(49, 63, 240, 1);
  font-size: 65px;
}
.faq_content {
  height: 500px;
  width: 90%;
  display: flex;
  flex-direction: column;

  justify-content: flex-start;

  gap: 20px;
}

.accordian {
  display: flex;
  flex-direction: column;
  padding-inline: 25px;
  padding-block: 20px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.46);
  border-radius: 20px;
  cursor: pointer;
}

.question {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 500;
}
.arrow {
  width: 1.7em;
}
.answer_container {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  max-height: 0;
  opacity: 0;
  transition:
    max-height 0.4s ease-in-out,
    opacity 0.3s ease;
}

.answer_container.is-open {
  max-height: 500px;
  opacity: 1;
}

.answer {
   font-size: 20px;
  padding: 10px 0;
}

.arrow {
  transition: transform 0.3s ease;
}
.arrow.rotate {
  transform: rotate(180deg);
}

@media (max-width: 800px) {
  .faq_container {
    margin-inline: 1rem;
    margin-bottom: 75px;
  }
  .faq_head {
    margin-bottom: 15px;
  }
  .faq_head h1 {
    font-size: 32px;
  }
  .faq_hlt {
    font-size: 46px;
  }
  .faq_content {
    height: 395px;
    width: 90%;

    gap: 10px;
  }

  .accordian {
    padding-inline: 20px;
    padding-block: 15px;
    width: 100%;

    border-radius: 20px;
  }

  .question,
  .answer {
    font-size: 16px;
  }

  .answer {
    padding: 10px 0;
  }
}
@media (max-width: 580px) {
  .faq_container {
    margin-inline: 1rem;
    margin-bottom: 30px;
    /* padding-bottom:2px ; */
  }
  .faq_head {
    margin-bottom: 4vw;
  }
  .faq_head h1 {
    font-size: clamp(18px, 4.5vw, 25px);
  }
  .faq_hlt {
    font-size: clamp(25px, 5vw, 33px);
  }
  .faq_content {
    height: 320px;
    width: 90%;

    gap: 10px;
  }

  .accordian {
    padding-inline: 10px;
    padding-block: 10px;
    width: 100%;

    border-radius: 12px;
  }
.question p,.answer p{
  padding-right: 10px;
}
  .question,
  .answer {
  
    font-size: clamp(12px, 2.2vw, 16px);
  }

  .answer {
    padding: 10px 0;
  }
}
@media (max-width:320px) {
    .faq_container {
   
    padding-bottom:60px ;
  }
}