:root {
  --bl: rgba(49, 63, 240, 1);
}

.hero-section {
 font-family: "DM Sans", sans-serif;
  margin-top: 55px;
  margin-inline: 2rem ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 70px;
 
}
.hlt {
  text-shadow: none;
  color: var(--bl);
}

.hero-head1,
.hero-head2 {
 
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-head1 {
  font-size: 55px;
  font-weight: bolder;
  letter-spacing: 1px;
  /* text-shadow: 0 1px 5px rgba(237, 231, 231, 0.8); */
}
.hero-head2 {
  font-family: "JetBrains Mono", monospace;
  font-size: 29px;
  font-weight: bold;

}
@media (max-width: 768px) {
  .hero-section {
    margin-block: 2rem;
    gap: 0.5rem;
  }
  .hero-head1 {
    font-size: 2rem;
  }
  .hero-head2 {
    font-size: 12px;
    margin-top: 1rem;
  }
}

@media (max-width: 500px) {
  .hero-section {
    margin: 1rem;
   
  }
  .hero-head1 {
    font-size: 5vw;
  }
  .hero-head2 {
    font-size: 2vw;
    margin-top: 1.5vw;
  }
}
