:root {
  --bl: rgba(58, 92, 216, 0.937);
}

.hero-section {
  margin: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3.5rem;
}
.hlt {
  text-shadow: none;
  color: var(--bl);
}

.hero-head1,
.hero-head2 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-head1 {
  font-size: 2rem;
  text-shadow: 0 1px 5px rgba(237, 231, 231, 0.8);
}
.hero-head2 {

  font-size: 1.2rem;
  margin-top: 1.7rem;
}
@media (max-width: 768px) {
  .hero-section {
    margin-block: 2rem;
    gap: 2.5rem;
  }
  .hero-head1 {
    font-size: 1.6rem;
  }
  .hero-head2 {
    font-size: 1rem;
    margin-top: 1rem;
  }
}

@media (max-width: 480px) {
  .hero-section {
    margin: 1rem;
    gap: 2.5rem;
  }
  .hero-head1 {
    font-size: 4vw;
  }
  .hero-head2 {
    font-size: 2.5vw;
    margin-top: 1.5vw;
  }
}
