:root {
  --bl: rgba(58, 92, 216, 0.937);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);

  padding: 10px 5%;
    background: rgba(0, 0, 0, 0.4); /* â— NOT fully black */
  backdrop-filter: blur(12px);
}

.nav-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
}
.nav-right > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu {
  display: none;
}
.menu-btn {
  border: none;
  cursor: pointer;
}
.nav-right a {
  text-decoration: none;
  transition: 0.2s;
}
.nav-right :hover {
  color: rgb(216, 209, 209);
}

.nav-right {
  display: flex;
  gap: 40px;
  font-size: large;
}

.login {
  font-size: large;
  padding: 10px 30px;
  background-color: var(--bl);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-right > div {
    display: none;
  }
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-img {
    width: 90px;
  }
}
