.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);

  padding: 10px 5%;
  backdrop-filter: blur(12px);
  font-family: "JetBrains Mono", monospace;
}

.nav-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
}
.nav-right > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu,
.menu-list {
  display: none;
}

.nav-right a {
  text-decoration: none;
  transition: 0.2s;
}

.nav-right > :not(:last-child) :hover {
  color: rgba(49, 63, 240, 1);
}

.nav-right {
  display: flex;
  gap: 46.3px;
  font-size: 20px;
}

.login {
  font-size: 20px;
  font-weight: bolder;
  padding: 10px 30px;
  background-color: transparent;
  background-image: linear-gradient(
    to bottom,
    #202aa9 0%,
    #1a228a 31%,
    #0d1143 100%
  );

  border-radius: 8px;
  border: none;
  outline: 2px solid rgba(255, 251, 251, 0.1);
  outline-offset: -2px;
  /* 1px solid rgba(255, 251, 251, 0.1) */
  cursor: pointer;
  transition: 0.3s ease;
}

@media (max-width: 805px) {
  .nav-right {
    display: none;
  }
  /* .nav {
display: flex;
    transition: 0.8s ease;
   
  }
  .nav.active{
    opacity: 0;
     pointer-events: none;
  transform: translateY(-10px);

  } */
  .menu,
  .cross {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* .nav-left.active {
    display: none;
  } */

  .menu-list {
    font-family: "DM Sans", sans-serif;

      position: fixed;
    top: 0%;
    right: 0;
    transform: translateX(100%); /* start off-screen */
   
    background-color: black;
    display: flex;
    /* opacity: 0; */
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 5%;
    width: 100%;
    height: 100vh;
    gap: 40px;
    pointer-events: none; /*Prevent clicking when hidden */
    transition: transform 0.5s ease;
  }
  .menu-list.active {
    transform: translateX(0);
 
    /* opacity: 1; */
    pointer-events: auto;
 
  }
  .menu-list-head {
    position: relative;
    display: flex;

    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .menu-list-head::after {
    position: absolute;
    content: "";
    border-bottom: 1px solid #ffffff63;
    width: 105%;
    bottom: -9%;
    right: -2%;
  }

  .menu-list-link {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    gap: 25px;
  }
  .menu-list-link a:hover {
    color: rgba(49, 63, 240, 1);
  }
  .menu-list-link a {
    text-decoration: none;
    transition: 0.3s;
  }
  .menu-list-link a:hover {
    color: rgba(49, 63, 240, 1);
  }
  .menu.active {
    display: none;
  }
  .menu button,
  .cross button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: block;
  }

  .nav-img,
  .menu-img {
    width: 90px;
  }
}

@media (max-width: 500px) {
  .menu-list{

    gap: 20px;
  }
   .menu-list-link {
   
    font-size: 18px;
    gap: 21px;
  }
  .nav-img,
  .menu-img {
    width: 55px;
  }
  .menu-icon {
    width: 20px;
  }
}
