.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);

  padding: 10px 5%;
  backdrop-filter: blur(12px);
  font-family: "JetBrains Mono", monospace;
}

.nav-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
}
.nav-right > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu {
  display: none;
}

.nav-right a {
  text-decoration: none;
  transition: 0.2s;
}

.nav-right :hover {
  color: rgb(216, 209, 209);
}

.nav-right {
  display: flex;
  gap: 46.3px;
  font-size: 20px;
}

.login {
  font-size: 20px;
  font-weight: bolder;
  padding: 10px 30px;
  background-image: linear-gradient(
    to bottom,
    #202aa9 0%,
    #1a228a 31%,
    #0d1143 100%
  );
  border-radius: 8px;
  border: none;
  outline: 2px solid rgba(255, 251, 251, 0.1);
  outline-offset: -2px;
  /* 1px solid rgba(255, 251, 251, 0.1) */
  cursor: pointer;
}

@media (max-width: 805px) {
  .nav-right {
    display: none;

    position: absolute;
    top: 70px;
    right: 0;
    width: 50%;

    background: black;
    flex-direction: column;
    align-items: justify;
  }
  

  .nav-right.active {
    display: flex;
  }
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: block;
  }

  .nav-img {
    width: 90px;
  }
}

@media (max-width: 500px) {
  .nav-img {
    width: 55px;
  }
  .menu-icon {
    width: 20px;
  }
}
