.price-container,
.price-container-onsite {
  font-family: "DM Sans", sans-serif;
  width: 346px;
  margin: 4rem;
  padding-block: 51px;
  padding-inline: 28px;
  border-radius: 32px;
  border: none;
  outline: 1px solid rgba(255, 255, 255, 0.2);
  outline-offset: -2px;
  background-image: linear-gradient(
    218deg,
    rgba(19, 26, 120, 1),
    rgba(28, 32, 60, 1),
    rgba(0, 0, 0, 1)
  );
  transition: transform 0.2s ease, border-color 0.2s ease, box-shadow 0.2s ease;
}
.price-container:hover,
.price-container-onsite:hover {
  transform: scale(1.03);
  outline-color: #fff;
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.1);
}

.price-head {
  padding-bottom: 40px;
}
.p1-head {
  padding-bottom: 4px;
  font-size: 23px;
  font-weight: 200;
}
.price-bold {
  font-weight: bold;
}
.p2-head {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: bolder;
  padding-bottom: 4px;
}
.p3-head {
  line-height: 20px;
  font-size: 14px;
  padding-bottom: 12px;
}

.rs {
  font-size: 48px;
}
.rs_inst {
  font-size: 48px;
  position: relative;
}
.rs_inst::after {
  position: absolute;
  content: "1st Installment";
  bottom: 0%;
  right: 0%;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 300;
  font-style: italic;
  font-size: 14px;
}

.price-btn,
.price-btn-onsite {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 56px;
}

.price-btn button {
  border: none;
  outline: 2px solid rgba(255, 255, 255, 0.1);
  outline-offset: -2px;
  background-color: transparent;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.08),
    rgba(255, 255, 255, 0)
  );
  width: 290px;
  padding: 12px;
  font-size: 14px;
  border-radius: 12px;
  transition: 0.3s ease;
}
.price-btn button:hover {
  background-color: rgb(1, 0, 0);
  font-weight: bolder;
  /* outline-color: rgba(252, 252, 252, 0.44);
   transform: scale(1.03);  
   box-shadow: 0 8px 20px rgba(255,255,255,0.1);                   */
  outline-color: #ffffff40;
  transform: scale(1.03);
  box-shadow: 0 3px 20px rgba(49, 63, 240, 1);
}
.price-btn::after,
.price-btn-onsite::after {
  content: " ";

  position: absolute;
  bottom: 30%;
  background-color: rgba(255, 255, 255, 0.24);

  height: 1px;
  width: 283px;
}

.foot-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.foot-head {
  font-weight: 500;
  font-size: 18px;
}
.content-list {
  font-size: 14px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.content-list p {
  padding-left: 1.5em;
  background: url("/src/assets/tick.png") no-repeat left center;
  background-size: 1em 1em;
}

/* Self Placed */

.topic_list {
  display: flex;
}
.list1 {
  width: 60%;
}
.list1,
.list2 {
  font-size: 12px;
  padding-left: 37px;
  line-height: 20px;
}
.list1,
.list2 li {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
}

/* On-Site */
.p2-head-onsite {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
  padding-bottom: 4px;
}
.p3-head-onsite {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: bolder;
  line-height: 20px;
}

.price-btn-onsite button {
  border: none;
  outline: 2px solid rgba(255, 255, 255, 0.1);
  outline-offset: -2px;
  background-color: transparent;
  color: rgba(23, 31, 86, 1);
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.13)
  );
  width: 290px;
  padding: 12px;
  font-size: 14px;
  font-weight: 550;
  border-radius: 12px;
  transition: 0.3s ease;
}
.price-btn-onsite button:hover {
  background-image: linear-gradient(
    to bottom,
    #202aa9 0%,
    #1a228a 31%,
    #0d1143 100%
  );
  color: #fff;
  font-weight: bolder;
  /* outline-color: rgba(252, 252, 252, 0.44);
   transform: scale(1.03);  
   box-shadow: 0 8px 20px rgba(255,255,255,0.1);                   */
  outline-color: #ffffff40;
  transform: scale(1.03);
  box-shadow: 0 3px 20px rgb(228 229 236 / 31%);
}
.price-container-onsite {
  width: 449px;
}

@media (max-width: 805px) {
  .price-container,
  .price-container-onsite {
    width: 300px;
    margin: 1rem;
    padding-block: 30px;
    padding-inline: 20px;
    border-radius: 30px;
  }
  .price-head {
    padding-bottom: 25px;
  }
  .p1-head {
    padding-bottom: 2px;
    font-size: 18px;
  }
  .p2-head {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    font-weight: bolder;
    padding-bottom: 4px;
  }
  .p3-head {
    line-height: 15px;
    font-size: 12px;
    padding-bottom: 5px;
  }

  .rs,
  .rs_inst {
    font-size: 38px;
  }
  .rs_inst::after {
    font-size: 11px;
  }
  .price-btn,
  .price-btn-onsite {
    padding-bottom: 50px;
  }

  .price-btn button {
    width: 250px;
    padding: 12px;
    font-size: 12px;
  }
  .price-btn::after,
  .price-btn-onsite::after {
    width: 240px;
  }

  .foot-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .foot-head {
    font-size: 16px;
  }
  .content-list {
    font-size: 12px;
    gap: 10px;
  }
  .content-list p {
    padding-left: 20px;
    background: url("/src/assets/tick.png") no-repeat left center;
  }

  /* Self Placed */
  .list1,
  .list2 {
    font-size: 10px;
    padding-left: 2em;
    line-height: 1.5em;
  }

  /* On-Site */
  .p2-head-onsite {
    padding-bottom: 2px;
  }
  .p3-head-onsite {
    font-size: 13px;

    line-height: 20px;
  }

  .price-btn-onsite button {
    width: 280px;
    padding: 12px;
    font-size: 13px;
  }
  .price-container-onsite {
    width: 350px;
  }
}

@media (max-width: 500px) {
  .price-container,
  .price-container-onsite {
    width: 48vw;
    margin: 1rem;
    padding-block: 20px;
    padding-inline: 15px;
    border-radius: 20px;
  }
  .price-head {
    padding-bottom: 15px;
  }
  .p1-head {
    padding-bottom: 2px;
    /* font-size: 3vw; */
    font-size: clamp(14px, 3vw, 16px);
  }
  .p2-head {
    /* font-size: 2vw; */
    font-size: clamp(10px, 2vw, 12px);

    padding-bottom: 4px;
  }
  .p3-head {
    line-height: 15px;
    /* font-size: 2vw; */
    font-size: clamp(8px, 2vw, 10px);
    padding-bottom: 5px;
  }

  .rs,
  .rs_inst {
    font-size: clamp(20px, 5vw, 30px);
  }
  .rs_inst::after {
    font-size: clamp(8px, 2vw, 11px);
  }
  .price-btn,
  .price-btn-onsite {
    padding-bottom: 25px;
  }

  .price-btn button {
    width: 40vw;
    padding: 10px;
    font-size: clamp(8px, 2vw, 10px);
    border-radius: 10px;
  }
  .price-btn::after,
  .price-btn-onsite::after {
    width: 35vw;
    bottom: 20%;
  }

  .foot-head {
    font-size: clamp(10px, 2vw, 12px);
  }
  .content-list {
    font-size: clamp(8px, 2vw, 10px);
    gap: 5px;
  }
  .content-list p {
    padding-left: 13px;
    background: url("/src/assets/tick.png") no-repeat left center;
    background-size: clamp(8px, 2vw, 10px);
  }

  /* Self Placed */
  .list1,
  .list2 {
    font-size: clamp(7px, 1vw, 8px);
    padding-left: 2em;
  }

  /* On-Site */
  .p2-head-onsite {
    font-size: clamp(12px, 2vw, 10px);
    padding-bottom: 2px;
  }
  .p3-head-onsite {
    font-size: clamp(8px, 2vw, 10px);

    line-height: 15px;
  }

  .price-btn-onsite button {
    width: 52vw;
    padding: 10px;
    font-size: clamp(8px, 2vw, 10px);
    border-radius: 10px;
  }
  .price-container-onsite {
    width: 60vw;
  }
}
