.steps_container {
  font-family: "DM Sans", sans-serif;
  margin-block: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.steps_head {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 75px;
}
.steps_head h3 {
  font-size: 25px;
  margin-bottom: 22px;
  font-weight: normal;
}
.steps_head h1 {
  font-size: 47px;
  font-weight: bold;
  margin-bottom: 6px;
}
.steps_head h2 {
  font-size: 20px;
  font-weight: normal;
  color: rgba(255, 251, 251, 0.64);
}
.steps_card_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 55px;
}

.steps_card {
  display: flex;
  flex-direction: column;
  width: 295px;
  height: 370px;
  padding-top: 42px;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(94, 91, 91, 0.2);
  border-radius: 29px;
  gap: 10px;

  transition: box-shadow 0.35s ease;
}
.blu {
  border: 1px solid rgb(94 91 91 / 60%);
  background-image: linear-gradient(
    219deg,
    rgba(23, 31, 86, 1) 1%,
    rgba(44, 44, 48, 0.73) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}
.dataops {
  filter: brightness(1) invert(1) sepia(1) saturate(500%) hue-rotate(330deg);
}
.it_ops {
    filter: brightness(1) invert(1) sepia(1) saturate(485%) hue-rotate(158deg);
  }
.steps_card:hover {
  box-shadow:
    inset 0 0 0 1px rgba(255, 255, 255, 0.5),
    inset 0 10px 20px rgba(255, 255, 255, 0.08);
}

.steps_img {
  display: flex;
  height: 100px;
  width: 100%;
  gap: 5px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
}
.steps_img img {
  height: auto;
  width: 40%;
}
.steps_img .it_ops,
.steps_img .dev_ops {
  width: 45%;
}
.ai_ops {
  position: absolute;

  left: 16%;
}
.gen_ai {
  position: absolute;
  right: 10%;
}
.steps_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-inline: 27px;
  gap: 22px;
}
.text_head {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text_head h3 {
  font-size: 25px;
  font-weight: bold;
  color: rgba(49, 63, 240, 1);
}
.steps_info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.steps_info p {
  font-size: 23px;
}
@media (max-width: 1024px) {
  .steps_card_container {
    width: 100%;
    gap: 20px;
  }
}
@media (max-width: 800px) {
  .steps_container {
    margin-inline: 1rem;
  }

  .steps_head {
    margin-bottom: 50px;
  }
  .steps_head h3 {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }
  .steps_head h1 {
    text-align: center;
    font-size: 2rem;

    margin-bottom: 4px;
  }
  .steps_head h2 {
    text-align: center;
    font-size: 1rem;
  }
  .steps_card_container {
    width: 100%;
    flex-direction: column;
    gap: 30px;
  }
  .steps_card {
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 400px;
    padding-top: 0px;
    border-radius: 25px;
    gap: 35px;
  }

  .steps_img {
    height: 100px;
    width: 340px;
    gap: 10px;

    margin-bottom: 0px;
  }
  .steps_img .it_ops,
  .steps_img .dev_ops {
    width: 50%;
  }
  .it_ops {
    position: absolute;

    left: 0%;
  }
  .dev_ops {
    position: absolute;
    right: 3%;
  }
  .steps_img .ai_ops {
    width: 50%;
  }
  .steps_img .ai_ops,
  .steps_img .gen_ai {
    width: 50%;
  }
  .ai_ops {
    position: absolute;

    left: 5.5%;
  }
  .gen_ai {
    position: absolute;
    right: 2.7%;
  }

  .steps_text {
    /* margin-inline: 20px; */
    /* gap: 15px; */
    width: 60%;
  }
  .text_head {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .steps_info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 580px) {
  .steps_container {
    margin-block: 30px;
  }
  .steps_head {
    margin-bottom: 8vw;
  }
  .steps_head h3 {
    font-size: clamp(12px, 3vw, 18px);
    margin-bottom: 2vw;
  }
  .steps_head h1 {
    text-align: center;
    font-size: clamp(18px, 4.5vw, 25px);

    margin-bottom: 4px;
  }
  .steps_head h2 {
    font-size: clamp(10px, 2.2vw, 16px);
  }

  .steps_card_container {
    width: 100%;
    flex-direction: column;
    gap: 30px;
  }
  .steps_card {
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 370px;
    padding-top: 0px;
    border-radius: 25px;
    gap: 0px;
  }
  .sys_ops_text {
    margin-top: 20px;
  }

  .steps_img {
    height: 100px;
    width: 300px;
    gap: 10px;

    margin-bottom: 0px;
  }

  .steps_text {
    /* margin-inline: 20px; */
    gap: 15px;
    width: 80%;
  }
  .text_head {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .steps_info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .text_head h3 {
    text-align: center;
    /* font-size: clamp(16px, 3vw, 20px); */
    font-size: clamp(18px, 3vw, 20px);
  }

  .steps_info p {
    font-size: clamp(16px, 2.2vw, 18px);
  }
}
@media (max-width:380px) {
    
  .steps_img .dev_ops {
    width: 40%;
  }
   .it_ops {
    left: 5%;
  }
  .dev_ops {
    right: 8%;
  }

}
@media (max-width: 345px) {
  .steps_img .it_ops,
  .steps_img .dev_ops {
    width: 40%;
  }
  .it_ops {
    left: 13%;
  }
  .dev_ops {
    right: 10%;
  }
  .steps_img .ai_ops {
    width: 50%;
  }
  .steps_img .ai_ops,
  .steps_img .gen_ai {
    width: 45%;
  }
  .ai_ops {
    left: 12%;
  }
  .gen_ai {
    right: 8%;
  }
  .steps_img .sysops {
    width: 35%;
  }
}

/* @media (max-width: 417px) {
  .steps_card {
    width: 165px;
    height: 215px;
    padding-top: 0px;
    border-radius: 15px;
    gap: 0px;
  }
  .steps_img {
    margin-bottom: 0px;
  }
  .steps_text {
    margin-inline: 12px;
    gap: 15px;
  }
} */
