.webinar_container {
  
  
  margin-inline: 4rem;
 margin-bottom: 100px;
}

.webinar_content {
   /* border: 1px solid white; */
  padding-bottom: 11%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}
.webinar_head {
  padding-bottom: 43px;
  /* background-color: red; */
  font-size: 33px;
}

.webinar_sec {
  width: 70%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
}

.webinar_thumbnail {
  object-fit: contain;
  width: 100%;
  height: auto;
  border-radius: 24px;
  border: 2px solid rgb(255 255 255 / 21%);
  box-shadow: -1px 5px 20px 0px rgb(48 73 172 / 60%);
}

.webinar_sec::after {
  position: absolute;
  content: " ";
  background-image: linear-gradient(
    to right,
    rgba(32, 42, 169, 1),
    rgba(220, 220, 229, 1)
  );
  height: 1px;
  width: 130%;
  bottom: -15%;
}

@media (max-width: 805px) {
  .webinar_container {
    margin-inline: 1rem;
  }

  .webinar_head {
    padding-bottom: 35px;
    /* background-color: red; */
    font-size: 32px;
  }

 .webinar_sec {
  width: 85%;

  /* background-color: aqua; */
}

.webinar_thumbnail {
  width: 100%;
  border-radius: 10px;
}
.webinar_sec::after {
  width: 100%;
  bottom: -14%;
}
 
}

@media (max-width: 580px) {
   .webinar_container {
    margin-bottom: 30px;
  }

  .webinar_head {
    padding-bottom: 6vw;
   
 font-size: clamp(18px, 4.5vw, 25px);
  }
  .webinar_sec {
  width: 90%;

  /* background-color: aqua; */
}
  .webinar_thumbnail {
    border-radius: 10px;
  }
  .webinar_sec::after {
 
  bottom: -16%;
  }
}
