@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Manrope:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  /* color: white; */
  color: #eaeaea;

font-family: "JetBrains Mono", monospace;
 font-optical-sizing: auto;
  font-style: normal;
  /* outline: 1px solid red; */
 
}
button{

  cursor: pointer;
}

header{

  position: sticky;
  top: 0;
   width: 100%;
  
}
/* Secondary text	#b3b3b3
Muted text	#8a8a8a */
