@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* color: white; */
  color: #eaeaea;


 font-optical-sizing: auto;
  font-style: normal;
  /* outline: 1px solid red; */
 
}
body {
  background-color: black;
}

button{

  cursor: pointer;
}

header{

  position: sticky;
  top: 0;
   width: 100%;
  
}
/* Secondary text	#b3b3b3
Muted text	#8a8a8a */
